.container {
  display: flex;
  position: relative;

  width: 100%;
  height: 86vh;
  align-items: center;
  //z-index: -3;
}

.container > .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .unity {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
