.wrapper-connect {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.wallet {
  color: white;
}
.balance {
  color: white;
  margin-right: 5px;
}
.balanceTCC {
  color: white;
}
