.home-container {
  margin-top: 50px;
  margin-left: 50px;
  h3 {
    font-size: 50px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
  }
  p {
    margin-top: 30px;
    color: white;
    font-size: 26px;
  }
}
